<h1>Backbone App with Rails API</h1>
<button id="refresh">Refresh</button>
<br>
<br>


<table>
  <thead>
    <tr>
      <th data-sort-col="id">id</th>
      <th data-sort-fn="_lowerTitle">title</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<br>

<a href="#/todos/new">New Todo</a>