<h3>#<%= todo.get("id") %>: <%= todo.get("title") %></h3>


<ul>
  <% todo.comments().each(function(comment) { %>
    <li> <%= comment.get("content") %></li>
  <% }) %>
</ul>

<br>
<a href="#/">Index</a>